<!DOCTYPE html>
	<head>
		<title>480chan</title>
		<style>
			html, body {
				height: 100%;
				text-align: center;
			}

			img {
				width: 450px;
				height: 300px;
			}

		</style>
	</head>
	<body>
		{{{body}}}
	</body>
	</head>
</html>
