<!doctype html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/base.css">
</head>
<html>
  <body>
    <h1>#<font color = "red">H</font><font color ="green">E</font><font color = "blue">X</font>CUSE ME</h1>
    <ul class="navbar">
        <li class="navb"><a class="nav" href="/colors">Generate Color</a></li>
        <li class="navb"><a class="nav" href="/about">About</a></li>
    </ul>
    {{{body}}}
  </body>
</html>
