<!DOCTYPE html>
<head>
<title>Movies</title>
<style>
html, body {
	height: 100%;
	text-align: center;
}

h1 {
	font-weight: bold;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

table, th, tr, td {
	border: 1px solid black;
}

th {
	background-color: grey;
}

</style>
</head>
<body>
	{{{body}}}
</body>
</head>
</html>
